.converter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="number"] {
  width: 150px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
}

select {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
}

button {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}

p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
